<div class="list-group users-list">
  <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-md-8 text-col">
        <h3 class="mb-1">Customer Name: {{item.payload.doc.data().customerName}}</h3>
        <h4>Order Number: {{item.payload.doc.data().orderNumber}}</h4>
        <h5>Order: {{item.payload.doc.data().order}}</h5>
      </div>
      <div class="col col-md-2 actions-col">
        <button class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
          <ion-icon class="icon" name="arrow-round-forward"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
